# Verification studies

## Pure diffusion
[![sphere diffusion](test_sphere_0.svg)](#)

## Pure advection
..